*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(240, 235, 235);
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  cursor: pointer;
  color: brown;
}
p {
  font-size: 12px;
}
