@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500;600&display=swap');
$primary: rgb(153, 146, 146);
$primary-light: rgba(49, 44, 44, 0.637);
$secondary: rgb(17, 180, 245);
$white: white;
$white-1: rgb(243, 247, 245);
$black: black;
$yellow: rgb(245, 210, 13);
$box-shadow: 12px 12px 15px 1px rgba(0, 17, 255, 0.151);
$header-bg: rgba(250, 171, 1, 0.664);
$footer-bg: rgba(250, 171, 1, 0.589);
$bg: rgba(255, 255, 255, 0.849);
$secondary-bg: rgba(56, 130, 143, 0.336);
$main-transition: all 0.6s 0.3s linear;
$letter-space: 0.5px;
$main-width: 85vw;
$min-width: 300px;

$edu-font: 'Edu QLD Beginner', cursive;
$font-color-yellow: rgb(231, 84, 4);
$font-date-color: rgb(0, 68, 255);
$border-radios: 5px;
@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    display: block;
    scrollbar-width: thin;
  }
  &::-webkit-scrollbar-track {
    background-color: $bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $yellow;
    border-radius: 0.5em;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}
$breakPoints: (
  's': '0px',
  'm': '480px',
  'l': '768px',
  'xl': '1200px',
);

@mixin s {
  @media screen and (min-width: map-get($breakPoints ,'s')) {
    @content;
  }
}
@mixin m {
  @media screen and (min-width: map-get($breakPoints ,'m')) {
    @content;
  }
}
@mixin l {
  @media screen and (min-width: map-get($breakPoints ,'l')) {
    @content;
  }
}
@mixin xl {
  @media screen and (min-width: map-get($breakPoints ,'xl')) {
    @content;
  }
}
