@import './utils';
.footer-section {
  position: absolute;
  height: max-content;
  width: 100%;
  background-color: $footer-bg;
  .footer-centre {
    color: $white;
    background: rgba(223, 214, 214, 0.644);
    margin: 0.2em auto;
    width: $main-width;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    // align-content: center;
    .rights-section {
      .rights-sentence {
        font-weight: 700;
        font-size: medium;
        color: $primary;
        margin-bottom: 0.5em;
        border-bottom: 2px solid $bg;
      }
    }
  }
}

@include m {
  .footer-section {
    position: absolute;
    height: fit-content;
    width: 100%;
    // background-color: $footer-bg;
    .footer-centre {
      color: $white;
      background: rgba(223, 214, 214, 0.644);
      margin: 2em auto;
      width: $main-width;
      padding: 2em;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      .rights-section {
        .rights-sentence {
          font-weight: 400;
        }
      }
    }
  }
}
