@import './utils';
.hourly-forecast {
  margin: 1em auto;
  width: 100%;
  height: 20vh;

  .hourly-forecast-main-div {
    display: flex;
    flex-direction: column;
    margin: 0 0.1em;
    padding: 0.1em 0;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    // justify-content: center;
    background-color: $white-1;
    border-radius: 5px;
    border-top: solid $yellow 0.5px;
    border-bottom: solid $yellow 0.5px;
    @include scrollbar;
  }
}
@include m {
  .hourly-forecast {
    margin: 1em auto;

    width: 100%;
    height: 20vh;

    .hourly-forecast-main-div {
      display: flex;
      flex-direction: row;
      margin-inline: auto;
      padding: 0.2em 0;
      overflow-x: auto;
      width: 100%;
      max-width: 866px;
      height: 100%;

      border-radius: 5px;
      border-top: solid $yellow 0.5px;
      border-bottom: solid $yellow 0.5px;

      @include scrollbar;
    }
  }
}
