@import './utils';
.hourly-forecast {
  margin: 1em auto;
  width: 100%;
  height: fit-content;
  height: 18vh;
  .hourly-forecast-main-div {
    display: flex;
    flex-direction: column;
    margin: 0 0.1em;
    padding: 0.2em 0;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: $white-1;
    border-radius: 5px;
    border-top: solid $yellow 0.5px;
    border-bottom: solid $yellow 0.5px;
    @include scrollbar;
  }
}
@include m {
  .hourly-forecast {
    margin: 1em auto;

    width: 100%;
    height: 15vh;

    .hourly-forecast-main-div {
      display: flex;
      flex-direction: row;
      margin-inline: auto;
      padding: 0.2em 0;
      overflow-x: auto;
      width: max-content;
      max-width: 866px;
      min-width: 400px;
      height: 100%;
      border-radius: 5px;
      border-top: solid $yellow 0.5px;
      border-bottom: solid $yellow 0.5px;

      @include scrollbar;
    }
  }
}
