@import './utils';
.main-div {
  width: 100%;
  height: auto;
  background-color: $bg;
  .main-content {
    margin: auto;
    width: $main-width;

    height: 80vh;
    .current-details {
      width: 100%;
      height: auto;
      padding: 0 1em;

      background-color: rgba(0, 0, 255, 0.569);
    }
    .daily-section {
      display: flex;
      padding-top: 1em;
      padding-left: 0.1em;
      padding-bottom: 0.5em;

      overflow-x: scroll;
    }
    .daily-section::-webkit-scrollbar {
      width: 1em;
    }
    .daily-section::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .daily-section::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
  }
}
