@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500;600&display=swap");
.card-content {
  border-radius: 20px;
  width: 15rem;
  height: 20rem;
  background-color: rgb(243, 247, 245);
  margin-inline: auto;
  margin-bottom: 0.8em;
  width: 90%;
  transition: all 0.6s 0.3s linear;
}
.card-content .card-main-content {
  height: 100%;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.card-content .card-main-content .icon-main-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-bottom: 1px dashed rgb(245, 210, 13);
  width: 100%;
  overflow: hidden;
}
.card-content .card-main-content .icon-main-desc .icon {
  grid-column: 1/2;
  grid-row: 1/-1;
  width: 100%;
  justify-self: center;
  max-width: 70px;
  min-width: 50px;
}
.card-content .card-main-content .icon-main-desc .main-desc-date {
  padding-top: 1em;
  padding-left: 0.2em;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  height: 100%;
}
.card-content .card-main-content .icon-main-desc .main-desc-date .main-title {
  color: rgb(158, 43, 43);
  font-size: medium;
  font-style: italic;
}
.card-content .card-main-content .icon-main-desc .main-desc-date .main-desc {
  align-self: center;
  justify-self: center;
  color: rgb(245, 210, 13);
  font-weight: bolder;
  font-size: 0.7rem;
}
.card-content .card-main-content .icon-main-desc .main-desc-date .main-date {
  color: rgb(0, 68, 255);
  align-self: center;
  justify-self: center;
  font-size: 0.5rem;
}
.card-content .card-main-content .humidity-temp {
  padding: 0.4em 0.5em;
  width: 100%;
  height: 8em;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-content: center;
  gap: 3px;
}
.card-content .card-main-content .humidity-temp .temp,
.card-content .card-main-content .humidity-temp .humidity,
.card-content .card-main-content .humidity-temp .temp-like {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  color: rgb(231, 84, 4);
  font-family: "Edu QLD Beginner", cursive;
  justify-items: center;
}
.card-content .card-main-content .wind-sunrise {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 0.5em;
}
.card-content .card-main-content .wind-sunrise .sunrise, .card-content .card-main-content .wind-sunrise .wind {
  color: rgb(231, 84, 4);
}

.card-content:hover {
  box-shadow: 6px 9px 25px 4px rgb(208, 215, 192);
  -webkit-box-shadow: 6px 9px 25px 4px rgb(208, 215, 192);
  -moz-box-shadow: 6px 9px 25px 4px rgb(208, 215, 192);
  transform: scale(1.0001);
}

@media screen and (min-width: 540px) {
  .card-content {
    border-radius: 20px;
    width: 18rem;
    max-width: 400px;
    height: 20rem;
    max-height: -moz-max-content;
    max-height: max-content;
    background-color: rgb(243, 247, 245);
    margin-left: 0.5em;
    transition: all 0.6s 0.3s linear;
  }
  .card-content .card-main-content {
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .card-content .card-main-content .icon-main-desc {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-bottom: 1px dashed rgb(245, 210, 13);
    width: 100%;
    overflow: hidden;
  }
  .card-content .card-main-content .icon-main-desc .icon {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 100%;
    max-width: 100px;
    min-width: 50px;
  }
  .card-content .card-main-content .icon-main-desc .main-desc-date {
    padding-top: 1em;
    padding-left: 0.2em;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
  }
  .card-content .card-main-content .icon-main-desc .main-desc-date .main-title {
    color: rgb(158, 43, 43);
    font-size: medium;
    font-style: italic;
  }
  .card-content .card-main-content .icon-main-desc .main-desc-date .main-desc {
    align-self: baseline;
    justify-self: center;
    color: rgb(245, 210, 13);
    font-weight: bolder;
    font-size: 0.7rem;
  }
  .card-content .card-main-content .icon-main-desc .main-desc-date .main-date {
    color: rgb(0, 68, 255);
    align-self: baseline;
    justify-self: end;
    font-size: 0.5rem;
  }
  .card-content .card-main-content .humidity-temp {
    padding: 0.4em 0.5em;
    width: 100%;
    height: 8em;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
  }
  .card-content .card-main-content .humidity-temp .temp,
  .card-content .card-main-content .humidity-temp .humidity,
  .card-content .card-main-content .humidity-temp .temp-like {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    color: rgb(231, 84, 4);
    font-family: "Edu QLD Beginner", cursive;
    justify-items: center;
  }
  .card-content .card-main-content .wind-sunrise {
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    padding-bottom: 0.5em;
  }
  .card-content .card-main-content .wind-sunrise .sunrise, .card-content .card-main-content .wind-sunrise .wind {
    color: rgb(231, 84, 4);
  }
  .card-content:hover {
    box-shadow: 6px 9px 25px 4px rgb(208, 215, 192);
    -webkit-box-shadow: 6px 9px 25px 4px rgb(208, 215, 192);
    -moz-box-shadow: 6px 9px 25px 4px rgb(208, 215, 192);
    transform: scale(1.0001);
  }
}/*# sourceMappingURL=card.css.map */